---
title: Cate Hernandez - Full stack dev
layout: default
---

<section id="about-me">
  {% include about-me.html %}

  <a class="toggle-about" href="javascript:;">About Site</a>
</section>

<section id="about-site" class="hidden">
  {% include about-site.html %}
  <a class="toggle-about" href="javascript:;">About Me</a>
</section>

<section id="contact">
  {% include contact.html %}
</section>

<script>
  let toggleAboutLinks = document.getElementsByClassName('toggle-about');

  for (const link of toggleAboutLinks) {
    link.addEventListener('click', toggleAbouts);
  }

  function toggleAbouts() {
    let aboutMe = document.getElementById('about-me');
    let aboutSite = document.getElementById('about-site');

    aboutMe.classList.toggle('hidden');
    aboutSite.classList.toggle('hidden');
  }
</script>
