{% for item in site.data.projects %}
<div class="project" role="group">
  <img class="project__img" src="{{item.project-img}}" alt="" />
  <div class="project-info" role="group">
    <h3 class="project__name">{{ item.project-name }}</h3>
    <div class="project__tech-stack" role="presentation">
      {{ item.project-tech-stack | join: ' &bull; '}}
    </div>
    <ul class="project__description">
      {% for item in item.project-description %}
      <li class="project__description__item">
        &ndash; &nbsp;{{ item in item.project-description.item }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}
