{% for project in site.data.projects %}
<div class="project" role="group">
  <img class="project__img" src="{{project.img}}" alt="" />

  <div class="project-info" role="group">
    <h3 class="project__name">{{ project.name }}</h3>
    <div class="project__tech-stack" role="presentation">
      {{ project.tech-stack | join: ' &bull; '}}
    </div>
    <p class="project__summary">{{project.summary}}</p>
    <ul class="project__description">
      {% for item in project.description %}
      <li class="project__description__item">{{item}}</li>
      {% endfor %}
    </ul>
    <div class="project-links" role="group">
      {% if project.site-link %}
      <a
        class="project-link"
        href="{{ project.site-link }}"
        aria-label="Deployed project site"
        ><i class="project-link__icon icon-link"></i
      ></a>
      {% endif %}

      <a
        class="project-link"
        href="{{ project.github-link }}"
        aria-label="Project repo"
        ><i class="project-link__icon icon-github"></i
      ></a>

      {% if project.demo-video %}
      <a
        class="project-demo-video"
        href="{{ project.demo-video }}"
        aria-label="Project demo video"
        ><i class="project-link__icon icon-youtube-play"></i
      ></a>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
