.contact-links {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.icon {
  font-size: 3em;
}

.link {
  text-decoration: none;

  &:visited {
    color: $near-black;
  }
  &:hover {
    color: $tangerine;
  }
  &:active {
    color: $rust;
  }
}
