.contact-links {
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;

  &:visited {
    color: $near-black;
  }
  &:hover {
    color: $tangerine;
  }
  &:active {
    color: $rust;
  }
}
