.contact-links {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 15px;
  margin-top: 2em;
}

.icon {
  font-size: 3em;
}

.link {
  color: $tangerine;
  text-decoration: none;
  transition: 0.5s ease;

  &:visited {
    color: $tangerine;
  }
  &:hover {
    transform: scale(1.3);
  }
  &:active {
    color: $rust;
  }
}
