.about {
  a {
    color: $tangerine;
    position: relative;
    text-decoration: none;

    &:visited {
      color: $tangerine;
    }

    //animate link underline on hover
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 1.5px solid $tangerine;
      transition: 1s;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.toggle-about--container {
  text-align: right;
}

/*------------------------------------*\
Pertaining to the toggled about animation
\*------------------------------------*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#about-site {
  display: none; //default to hiding element
}
