.about {
  a {
    color: $tangerine;
    position: relative !important; //required for hover animation
    text-decoration: none;

    &:visited {
      color: $tangerine;
    }

    @include animated-hover-underline($tangerine);
  }
}

.toggle-about--container {
  text-align: right;
}

/*------------------------------------*\
Pertaining to the toggled about animation
\*------------------------------------*/

#about-site {
  display: none; //default to hiding element
}
