.about--content {
  & a {
    color: $tangerine;
    text-decoration: none;

    &:visited {
      color: $tangerine;
    }

    &:hover {
      color: $rust;
    }
  }
}

.about--link {
  text-align: right;
}

/*------------------------------------*\
Pertaining to the about-toggle function
\*------------------------------------*/

//Opacity must be specified for fade effect
#about-me {
  opacity: 1; //defaults to showing element
}

#about-site {
  display: none; //default to hiding element
  opacity: 0;
}

.about--toggle {
  color: $tangerine;
  text-decoration: none;

  &:hover {
    font-style: italic;
  }
}
