#about-me,
#about-site {
  animation: 1s ease fadeIn;
  height: 100vh;
  line-height: 2em;

  a {
    color: $tangerine;
    position: relative !important; //required for hover animation
    text-decoration: none;

    &:visited {
      color: $tangerine;
    }

    @include animated-hover-underline($tangerine);
  }

  @media (min-width: $medium) {
    top: 150px;
    width: 85%;
  }
}

.site-title {
  margin: 0;
  padding-top: 2rem;

  @include respond-to('medium') {
    padding-top: 8rem;
    width: min-content;
  }
}

.toggle-about {
  margin-top: 0.5em;
  text-align: right;
}

.toggle-about__link {
  text-transform: lowercase;
}
