#about-me,
#about-site {
  animation: 1s ease fadeIn;
  line-height: 2em;

  a {
    color: $tangerine;
    position: relative !important; //required for hover animation
    text-decoration: none;

    &:visited {
      color: $tangerine;
    }

    @include animated-hover-underline($tangerine);
  }

  @include respond-to('large') {
    width: 80%;
  }
}
