@mixin font-face($name, $weight, $style) {
  font-family: $name;
  font-weight: $weight;
  font-style: $style;
}

/// Underline link. Predefined thickeness for consitency
/// @param {Array} $color
@mixin med-underline($color) {
  border-bottom: 2.5px solid $color;
}

/// Underlines link on hover effect
/// @author Rene Spronk
/// @param {String} $color
@mixin animated-hover-underline($color) {
  //animate link underline on hover
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1.5px solid $color;
    transition: 1s;
  }

  &:hover::after {
    width: 100%;
  }
}
