/* colors */
$near-black: #222222;
$cream: hsl(36, 65.2%, 95.5%);
$dusty-rose: hsl(356.3, 35.8%, 73.1%);
$mustard: hsl(41.6, 87.1%, 54.5%);
$red: hsl(2.6, 75.6%, 51.8%);
$green: hsl(138, 26.3%, 37.3%);
$light-blue: hsl(208.2, 70.4%, 72.2%);
$tangerine: hsl(13.3, 87.4%, 56.5%);
