/** Social Links **/
.contact-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: min-content;
}

.contact-links__item {
  margin-right: 0.75rem;
  transition: 0.25s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.contact-links__bubble {
  background-color: $tangerine;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-links__icon {
  color: $cream;
  font-size: 1.5rem;
  text-decoration: none;

  &:visited {
    color: $cream;
  }
}
