.primary-nav {
  @include font-face($montserrat, 400, normal);
  font-size: 15px;
}

/* Remove default list styling */
.site-nav {
  list-style-type: none;
}

.site-nav__item {
  display: inline;
}

/* Style individual links */
.site-nav__link {
  color: $near-black;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 12px;

  &:visited {
    color: $near-black;
  }

  /* Styling for specific links*/
  &--about-site {
    @include thick-underline($light-blue);
  }

  &--contact {
    @include thick-underline($tangerine);
  }

  &--home {
    @include thick-underline($yellow);
  }
}

.site-nav__item--current {
  color: $tangerine;
  cursor: default;
  pointer-events: none;

  &:visited {
    color: $tangerine;
  }
}
