.navbar {
  @include font-face($montserrat, 400, normal, 15px);
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 12px;

  &:visited {
    color: $near-black;
  }

  &:hover {
    color: $dark-grey;
  }
}

.nav-item--current {
  color: $tangerine;
  cursor: default;
  pointer-events: none;

  &:visited {
    color: $tangerine;
  }
}
