#projects {
  padding: 1rem 0;

  @media (min-width: $large) {
    padding: 3rem 0;
  }
}

.project {
  align-items: flex-start; //must be specified for Safari
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;

  @media (min-width: $large) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4.5rem;
  }
}

.project-info {
  width: 100%;

  @media (min-width: $large) {
    margin-left: 2.5rem;
    width: 33rem;
  }
}

.project__description {
  font-size: 0.9rem;
  list-style-type: '–  ';
  line-height: 1.75;
  margin: 0;
  padding-left: 1.5rem;
}

.project__img {
  object-fit: contain;
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: $large) {
    flex: initial;
    width: 27.5rem;
  }
}

.project-link__icon {
  color: $tangerine;
  font-size: 1.5rem;
}

//take off top margin so it's aligned with project img
.project__name {
  margin: 0 0 0.5rem;
}

.project__summary {
  margin: 0.25rem 0;
}

.project__tech-stack {
  font-size: 0.9rem;
  font-weight: 300;
}
