#projects {
  min-height: 100vh;
}

.project__name {
  margin-bottom: 0.5rem;
}

.project__description {
  line-height: 1.75;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.tech-stack {
  font-weight: 500;
}
