.site-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

/* remove default list styling */
.site-nav__item {
  display: inline;
}

.site-nav__link {
  color: $near-black;
  padding-bottom: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;

  @include med-underline($tangerine);

  &:visited {
    color: $near-black;
  }
}

.site-nav__item--current {
  cursor: default;
  pointer-events: none;
}
