/* Nav overlay - mobile only. Hidden by default */
.mobile-nav-overlay {
  background: $tangerine-60;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  width: 100%;

  @media (min-width: $medium) {
    display: none;
  }
}

.mobile-nav-open {
  opacity: 1;
  visibility: visible;
}

.primary-nav {
  display: none;

  @media (min-width: $medium) {
    display: block;
  }
}

/* Nav toggle buttons */
.nav-toggle-btn {
  border: none;
}

/* Nav links */
.site-nav {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

/* remove default list styling */
.site-nav__item {
  display: inline;
}

.site-nav__link {
  color: $near-black;
  padding-bottom: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;

  @include med-underline($tangerine);

  &:visited {
    color: $near-black;
  }
}

.site-nav__item--current {
  cursor: default;
  pointer-events: none;
}
