<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
    <meta
      name="description"
      content="Hi! My name is Cate Hernandez, and I'm a full stack developer.
      Find me on GitHub at github.com/zenon21."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/fontello.css" />

    <script defer src="assets/js/vendor/modernizr-3.8.0.min.js"></script>
    <script defer src="assets/js/plugins.js"></script>
    <script defer src="assets/js/main.js"></script>
  </head>

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="site-header">{% include header.html %}</header>
    <nav class="primary-nav">{% include site-nav.html %}</nav>
    <main>{{ content }}</main>
  </body>
</html>
