html {
  color: $near-black;
  line-height: 1.6;
  font-size: 16px;
}

body {
  @include font-face($montserrat, 400, normal);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  @include font-face($playfair-display, 400, normal);
  font-size: calc(36px + 4.5vw);
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
