p {
  @include font-face($montserrat, 400, normal, 12px);
}

h1 {
  @include font-face($cormorant-garamond, 400, normal, 54px);
  color: $dusk-purple;
}

/* only for links in paragraphs */
p a:hover {
  color: $tangerine;
  font-style: italic;
}
